# Ensemble

# WAV

In [1]:
from keras.models import load_model
import numpy as np
import pandas as pd
from sklearn import metrics

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
from keras.models import load_model

wav_sp_model = load_model('/content/drive/MyDrive/ETRI/sp_smote_model.h5')
wav_li_model = load_model('/content/drive/MyDrive/ETRI/li_smote_model.h5')

In [4]:
X_sp_test = np.load('/content/drive/MyDrive/ETRI/X_sp_test_2d.npy')
y_sp_test = np.load('/content/drive/MyDrive/ETRI/y_sp_test_2d.npy')

X_li_test = np.load('/content/drive/MyDrive/ETRI/X_li_test_2d.npy')
y_li_test = np.load('/content/drive/MyDrive/ETRI/y_li_test_2d.npy')

In [5]:
sp_score = wav_sp_model.evaluate(X_sp_test, y_sp_test , verbose=1)

65/65 [==============================] - 5s 13ms/step - loss: 2.6224 - accuracy: 0.4203 - precision: 0.4387 - recall: 0.3966 - auc: 0.7738

Speaker

In [6]:
wav_y_sp_predict_array = wav_sp_model.predict(X_sp_test)
wav_y_sp_predict = pd.DataFrame(wav_y_sp_predict_array)

65/65 [==============================] - 1s 10ms/step

In [7]:
y_sp_test = y_sp_test.argmax(axis=1)

In [8]:
wav_y_sp_predict_array = wav_y_sp_predict_array.argmax(axis=1)
print('Wav only Speaker f1 score:', metrics.f1_score(y_sp_test,wav_y_sp_predict_array, average='weighted'))

Wav only Speaker f1 score: 0.4172567219845013

Listener

In [9]:
wav_y_li_predict_array = wav_li_model.predict(X_li_test)
wav_y_li_predict = pd.DataFrame(wav_y_li_predict_array)

65/65 [==============================] - 1s 8ms/step

In [10]:
y_li_test = y_li_test.argmax(axis=1)

In [11]:
wav_y_li_predict_array = wav_y_li_predict_array.argmax(axis=1)
print('Wav only Listener f1 score:', metrics.f1_score(y_li_test, wav_y_li_predict_array, average='weighted'))

Wav only Listener f1 score: 0.4338047208673371

#TXT

Speaker

In [12]:
txt_sp_predict = np.load('/content/drive/MyDrive/ETRI/spresult.npy')
txt_sp_predict = pd.DataFrame(txt_sp_predict)
txt_sp_predict = txt_sp_predict.drop(index=[0])
txt_sp_predict.reset_index(drop=True,inplace=True)
txt_sp_predict

             0         1         2         3         4         5         6
0    -1.798508  4.894300 -0.286733 -0.210056 -0.736293  0.813443 -2.307131
1     1.915350 -0.860789 -1.798358  6.024409 -1.707581 -2.716047 -1.113720
2    -0.866151 -1.437498 -1.158423  0.934686 -1.615796 -0.883175  5.554650
3    -2.044824 -0.397857  5.673892 -2.534038  0.706664 -0.924193 -1.257557
4     0.036334 -1.421648 -0.732702  6.855047 -0.843382 -2.739183 -1.556493
...        ...       ...       ...       ...       ...       ...       ...
2060 -2.737803 -2.115296  5.690709  1.978973 -0.072295 -2.755354 -0.957845
2061 -1.907726 -1.981395  2.215895 -1.171310 -0.812105 -1.282589  4.874800
2062 -1.103541 -1.621189 -0.258126 -0.838899 -1.096202 -0.614918  6.071450
2063 -1.630271 -1.463187  0.555040 -1.269137 -0.911286 -0.654169  5.781003
2064  0.293970  5.605303 -1.446917 -0.713066 -0.942741 -0.929178 -1.404853

[2065 rows x 7 columns]

In [13]:
txt_sp_predict_array = txt_sp_predict.to_numpy()
txt_sp_predict_array = txt_sp_predict_array.argmax(axis=1)

print('Txt only Speaker f1 score:', metrics.f1_score(y_sp_test, txt_sp_predict_array, average='weighted'))

Txt only Speaker f1 score: 0.642401380200389

Listener

In [14]:
txt_li_predict = np.load('/content/drive/MyDrive/ETRI/liresult.npy')
txt_li_predict = pd.DataFrame(txt_li_predict)
txt_li_predict = txt_li_predict.drop(index=[0])
txt_li_predict.reset_index(drop=True,inplace=True)
txt_li_predict

             0         1         2         3         4         5         6
0     0.270496  5.187420 -1.190842 -0.576842 -1.474265 -0.166616 -1.985744
1    -2.575363 -0.891967  3.182264  5.015620  0.130352 -2.282020 -1.968997
2    -1.979949  1.880200  2.324972 -2.863710 -0.932418  2.182127 -0.519643
3    -1.292947 -1.730762  0.406384  3.137652  3.629740 -1.688266 -1.754501
4    -0.816566 -0.082272 -0.735215  6.859799 -1.212290 -2.309798 -1.257306
...        ...       ...       ...       ...       ...       ...       ...
2061 -0.975771 -1.660425 -0.557225  6.079582  0.261153 -2.294123 -0.544869
2062 -1.210415  2.438783 -1.636460  2.240434 -2.953864 -1.709802  2.175102
2063  2.271394 -2.157246 -1.864026  0.219487 -1.649312 -1.940477  4.250450
2064 -1.124320 -1.820249 -0.795634  0.526966 -1.593238 -1.678365  5.330072
2065 -0.799592 -0.519843 -0.564101  6.962261 -1.061780 -2.363783 -1.176849

[2066 rows x 7 columns]

In [15]:
txt_li_predict_array = txt_li_predict.to_numpy()
txt_li_predict_array = txt_li_predict_array.argmax(axis=1)

print('Txt only Listener f1 score:', metrics.f1_score(y_li_test, txt_li_predict_array, average='weighted'))

Txt only Listener f1 score: 0.5833988930644401

#Ensemble

Speaker

In [16]:
fusion_sp_predict = pd.DataFrame()
fusion_sp_predict = wav_y_sp_predict+txt_sp_predict
fusion_sp_predict

             0         1         2         3         4         5         6
0    -1.741196  5.143946 -0.280813  0.446504 -0.722428  0.827362 -2.304353
1     1.935521 -0.859604 -1.785511  6.595367 -1.705265 -2.716026 -0.721220
2    -0.852220 -1.433308 -1.156128  1.911769 -1.615748 -0.883051  5.556980
3    -2.032566 -0.395737  5.674685 -1.584857  0.742047 -0.924165 -1.257321
4     0.073584 -1.141143 -0.719604  7.139773 -0.839160 -2.667480 -1.247998
...        ...       ...       ...       ...       ...       ...       ...
2060 -2.736994 -2.115271  5.690821  2.970187 -0.071789 -2.755330 -0.950534
2061 -0.980255 -1.981394  2.234918 -1.120481 -0.810952 -1.281273  4.875006
2062 -1.103528 -1.619549  0.708691 -0.826279 -1.081823 -0.614894  6.075954
2063 -1.630261 -1.463184  0.570425 -0.311060 -0.911144 -0.641509  5.794724
2064  0.294989  5.606500 -1.222642 -0.045005 -0.940853 -0.842130 -1.388343

[2065 rows x 7 columns]

In [17]:
fusion_sp_predict_temp = fusion_sp_predict.to_numpy()
fusion_sp_predict_temp = fusion_sp_predict_temp.argmax(axis=1)

In [18]:
print('Wav-Txt Speaker f1 score:', metrics.f1_score(y_sp_test,fusion_sp_predict_temp, average='weighted'))

Wav-Txt Speaker f1 score: 0.6468315048917027

Listener

In [19]:
fusion_li_predict = pd.DataFrame()
fusion_li_predict = wav_y_li_predict+txt_li_predict
fusion_li_predict

             0         1         2         3         4         5         6
0     0.412861  5.188782 -1.063511  0.146784 -1.474260 -0.166370 -1.980679
1    -2.575354 -0.891957  3.184493  6.011419  0.130811 -2.282006 -1.967518
2    -1.979894  2.498472  2.519571 -2.694396 -0.928888  2.195098 -0.518384
3    -1.292943 -1.729540  0.406431  4.135991  3.629740 -1.688264 -1.754115
4    -0.816562 -0.082234 -0.734736  7.859262 -1.212286 -2.309785 -1.257305
...        ...       ...       ...       ...       ...       ...       ...
2061 -0.975762 -1.660425 -0.557225  7.079540  0.261154 -2.294120 -0.544841
2062 -1.210391  2.439496 -1.635559  3.238791 -2.953864 -1.709801  2.175106
2063  2.271402 -2.156692 -1.862504  0.699720 -1.649312 -1.940457  4.768113
2064 -1.124261 -1.604066 -0.793462  0.860614 -1.593236 -1.678197  5.777840
2065 -0.799590 -0.519831 -0.563860  7.961991 -1.061780 -2.363783 -1.176834

[2066 rows x 7 columns]

In [20]:
fusion_li_predict_temp = fusion_li_predict.to_numpy()
fusion_li_predict_temp = fusion_li_predict_temp.argmax(axis=1)

In [21]:
print('Wav-Txt Listener f1 score:', metrics.f1_score(y_li_test,fusion_li_predict_temp, average='weighted'))

Wav-Txt Listener f1 score: 0.5860542995510882